
<% if(it.image) { %>
<picture class="inline-block md:w-1/2 md:float-left md:mr-4 mb-2 p-1 border-2 border-gray-200 hover:border-blue-500">
	<% if(it.url) { %>
	<a href="<%= it.url %>">
		<img placeholder itemprop="image" src="<%= it.imagePath(it.image) %>" loading="lazy" />
	</a>
	<% } else { %>
	<img placeholder itemprop="image" src="<%= it.imagePath(it.image) %>" loading="lazy" />
	<% } %>
</picture>
<% } %>
